<footer class="site">
  <div class="wrap inner">
    <div class="foot-grid">
      <div class="foot-brand">
        <div class="brand">
           <img src="../assets/images/logo.png" alt="Aeternus Verlag Logo" class="brand-logo"/>
         
        </div>
        <p class="addr">AETERNUS VERLAG<br/>
Redaktion / Herausgeber<br/>
Strategieallee 1<br/>
10115 Berlin<br/>
Deutschland</p>
      </div>
      <div class="foot-col"><h4>Series</h4><ul><li><a href="#">Military History</a></li><li><a href="#">Political Economy</a></li><li><a href="#">Statecraft</a></li><li><a href="#">Strategic Theory</a></li></ul></div>
      <div class="foot-col"><h4>House</h4><ul><li><a href="#">Imprint</a></li><li><a href="#">Editors</a></li><li><a href="#">Press</a></li><li><a href="#">Trade</a></li></ul></div>
      <div class="foot-col"><h4>Reader</h4><ul><li><a href="#">Subscribe</a></li><li><a href="#">Standing Order</a></li><li><a href="#">Gift</a></li><li><a href="#">Contact</a></li></ul></div>
    </div>
    <div class="foot-end">
      <span>© AETERNUS VERLAG. All rights reserved.</span>
      <span>Each edition within our five pillars is curated by a sitting editor and a council of scholars. New volumes are admitted to the Master Matrix only by unanimous vote.</span>
    </div>
  </div>
</footer>